body {
    background: black;
    overflow: hidden;
}

#LoginPanel {
    position: absolute;
    aspect-ratio: 1.61803398875;
    width: 90vmin;
    top: 50%;
    left: 50%;
    margin: -27.8115294937vmin 0 0 -45vmin;
    border-radius: 3vmin;
    background: var(--Cool-Secondary);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: background 300ms ease-in-out;
}

#LoginPanel > #LoginPanelHeader {
    position: relative;
    width: 100%;
    height: 20%;
    border-radius: 3vmin 3vmin 0 0;
    background: var(--Cool-Primary) linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, var(--Cool-Secondary));
    display: flex;
    flex-flow: row nowrap;
    transition: all 300ms ease-in-out;
}

#LoginPanelHeader > #LoginPanelHeaderLogo {
    position: absolute;
    height: 75%;
    cursor: pointer;
    top: 5%;
    left: 1%;
    object-fit: scale-down;
    transition: all 300ms ease-in-out;
}

#LoginPanelHeader > #LoginPanelHeaderTitle {
    position: absolute;
    width: 50%;
    height: 6vmin;
    top: 50%;
    font: calc(5vmin) "Rubik-Regular", sans-serif;
    content: "Login Here";
    margin-left: 25%;
    margin-top: -3vmin;
    text-align: center;
    color: var(--Cool-Secondary);
    transition: all 300ms ease-in-out, margin 0ms, top 0ms, left 0ms;
}

#LoginPanel > #LoginPanelMain {
    position: relative;
    width: 100%;
    height: 80%;
    background: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    transition: all 300ms ease-in-out;
}

#LoginPanelMain > #InputWrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;
    transition: all 300ms ease-in-out;
    gap: 3vmin;
}

#InputWrapper > .InputBorder {
    position: relative;
    width: calc(80% + 1vmin);
    height: 7vmin;
    margin: 0 auto;
    border-radius: 4vmin;
    background: radial-gradient(circle at 50% 50%, var(--Cool-Primary) 0%, var(--Warm-Primary) 50%, var(--Warm-Secondary) 100%);
    display: grid;
    transition: all 300ms ease-in-out;
}

.InputBorder > .Input {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 1vmin);
    height: 100%;
    border-radius: inherit;
    background: black;
    transition: all 300ms ease-in-out;
    color: white;
    border: hidden;
    outline: none;
    padding: 0 0 0 1vmin;
    font: calc(2vmin) "Rubik-Regular", sans-serif;
    box-shadow: black 0 0 0 1px;
}

.InputBorder > .Input:active {
    width: calc(100% - 2vmin);
    height: 6vmin;
    margin: 0.5vmin;
    border-radius: 3vmin;
}

.InputBorder > .Input:focus {
    width: calc(100% - 2vmin);
    height: 6vmin;
    margin: 0.5vmin;
    border-radius: 3vmin;
}

.InputBorder > .Input::placeholder {
    color: var(--Cool-Primary);
    transition: all 300ms ease-in-out;
}

#LoginPanelMain > #InputButtons {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    gap: 24vmin;
    transition: all 300ms ease-in-out;
}

#InputButtons > .InputButton {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1.61803398875;
    background: var(--Cool-Primary);
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all 300ms ease-in-out;
}

@keyframes InputButtonClick {
    from, to {
        transform: scale(1);
        background: var(--Cool-Primary);
    }
    
    20% {
        transform: scale(0.8);
        background: var(--Warm-Primary);
    }
    
    80% {
        transform: scale(1.2);
        background: var(--Warm-Secondary);
    }
}

.InputButton > .InputButtonText {
    position: absolute;
    top: 50%;
    margin-top: -2vmin;
    height: 4vmin;
    font: 3.5vmin "Rubik-Regular", sans-serif;
    color: var(--Cool-Secondary);
    transition: all 300ms ease-in-out;
}

#LoginPanel > #LoginPanelFooter {
    
}